@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <a asp-controller="" asp-action="" class="btn btn-warning">Crear Cliente</a>
    <a asp-controller="" asp-action="" class="btn btn-warning">Crear Compra</a>
</div>
