@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sitio de evaluación</h1>
    <a asp-controller="Cliente" asp-action="Crear" class="btn btn-warning">Crear Cliente</a>
    <a asp-controller="Cliente" asp-action="Listar" class="btn btn-warning">Lista Cliente</a>
    <a asp-controller="Venta" asp-action="Crear" class="btn btn-success">Crear Venta</a>
    <a asp-controller="Venta" asp-action="Listar" class="btn btn-success">Lista Ventas</a>
</div>
